@import 'font-awesome-sprockets';
@import 'font-awesome';

// Fix icon spacing in navigation
li > a > i.fa, .btn i.fa {
  margin-left: 5px;
  margin-right: 5px;
}

// Add space between buttons
.btn + .btn {
  margin-left: 5px;
}

// Fix button group button sizing
.input-group-btn .btn {
  height: 39px;
}
